/* Header content styles */

.subtle-shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-internal-content {
  text-align: center;
  margin-top: 1rem; /* Push the header down and away from the fixed header */
  color: #ffffff; /* Change the text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for depth */
  background-color: rgba(0, 0, 0, 0.6); /* Add semi-transparent background */
  border-radius: 15px; /* Add rounded corners */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); /* Add subtle shadow for depth */
  padding: 10px; /* Add some padding for the content against the transparent backgrouns */
  animation: popOut 0.5s ease-out;
  transition: color 0.2s ease-in-out;
}

.header-internal-content:hover {
  color: #007bff;
}

/* Pop-out animation */
@keyframes popOut {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
}

.header-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.header-lead {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.img-thumbnail {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.img-thumbnail:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Base styles for the button */
.btn-primary {
  background: linear-gradient(45deg, #007bff, #0056b3);
  border: none;
  color: white;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Needed for shimmer effect */
  overflow: hidden; /* Hide overflow for shimmer effect */
}

/* Hover effect */
.btn:hover {
  background-color: #003d80;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  animation: bounce 0.5s; /* Add bounce animation */
}

/* Focus effect */
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Keyframes for the expand animation */
@keyframes expand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Keyframes for the bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Change color animation */
@keyframes changeColor1 {
  100% {
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    color: #000000; /* Change text color to black */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Add white shadow effect */
  }
}

@keyframes changeColor2 {
  100% {
    background: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
    color: #000000; /* Change text color to black */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Add white shadow effect */
  }
}

@keyframes changeColor3 {
  100% {
    background: linear-gradient(45deg, #fbc2eb 0%, #a6c1ee 100%);
    color: #000000; /* Change text color to black */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Add white shadow effect */
  }
}

.button-container .btn-primary:nth-child(1) {
  animation: expand 0.5s ease-in-out forwards, changeColor1 0.5s ease-in-out forwards;
  animation-delay: 0.5s, 0.5s;
}

.button-container .btn-primary:nth-child(2) {
  animation: expand 0.5s ease-in-out forwards, changeColor2 0.5s ease-in-out forwards;
  animation-delay: 1s, 1s;
}

.button-container .btn-primary:nth-child(3) {
  animation: expand 0.5s ease-in-out forwards, changeColor3 0.5s ease-in-out forwards;
  animation-delay: 1.5s, 1.5s;
}

/* Shimmer effect */
@keyframes shimmer {
  0% {
    left: -150%;
  }
  50% {
    left: 150%;
  }
  100% {
    left: 150%;
  }
}

.btn-primary::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 2s infinite;
  animation-iteration-count: 3; /* Stop after 3 iterations */
}

/* Margin for the icon */
.ml-2 {
  margin-left: 0.5rem;
}

/* Styles for the rocket icon */
.rocket-icon {
  width: 2rem;
  height: 2rem;
}

img {
  max-height: 100%;
}

.max-size {
  max-height: 20em;
}

/* Adjust spacing for sections */
.section-spacing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* New styles for button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75); /* White background with slight transparency */
  padding: 1.5rem; /* Add padding around the buttons */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 400px; /* Limit the width of the container */
  margin: 2rem auto; /* Center the container horizontally */
}

/* Hover effect for buttons inside button-container */
.button-container .btn:hover {
  background-color: #003d80;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  animation: bounce 0.5s; /* Add bounce animation */
}