/* Header content styles */
.header-internal-content {
  text-align: center;
  margin-top: 1rem; /* Push the header down and away from the fixed header */
  color: #ffffff; /* Change the text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for depth */
  background-color: rgba(0, 0, 0, 0.6); /* Add semi-transparent background */
  border-radius: 15px; /* Add rounded corners */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25); /* Add subtle shadow for depth */
  padding: 10px; /* Add some padding for the content against the transparent backgrouns */
  animation: popOut 0.5s ease-out;
  transition: color 0.2s ease-in-out;
}

.header-internal-content:hover {
  color: #007bff;
}

/* Pop-out animation */
@keyframes popOut {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
}

.header-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.header-lead {
  font-size: 1.25rem;
  margin-top: 1rem;
}

/* Base styles for the button */
.btn-primary {
  background: linear-gradient(45deg, #007bff, #0056b3);
  border: none;
  color: white;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: pulse 2s infinite;
}

/* Hover effect */
.btn-primary:hover {
  background-color: #003d80;
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Focus effect */
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Margin for the icon */
.ml-2 {
  margin-left: 0.5rem;
}

/* Styles for the rocket icon */
.rocket-icon {
  width: 2rem;
  height: 2rem;
}

img {
  max-height: 100%;
}

.max-size {
  max-height: 20em;
}

/* Adjust spacing for sections */
.section-spacing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
