#main-content {
    margin-top: 55px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100; /* this is optional and should be different for every project */
  }

.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
  }
  
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }